{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %} {# Assuming you'll add a bootstrap_wtf.html template helper #}

{% block title %}Sign In - Oxygen Cylinder Management{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Iniciar Sesion</h2>
            {{ wtf.quick_form(form, action=url_for('auth.login'), method="post", button_map={'submit': 'primary'}) }}
            <p class="mt-3">
                Nuevo Usuario? <a href="{{ url_for('auth.register') }}">Click para Registrar!</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
