{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}Register - Oxygen Cylinder Management{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro</h2>
            {{ wtf.quick_form(form, action=url_for('auth.register'), method="post", button_map={'submit': 'primary'}) }}
            <p class="mt-3">
                Ya tiene alguna Cuenta? <a href="{{ url_for('auth.login') }}">Login aqui!</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
