{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-3">403</h1>
        <h2>Forbidden</h2>
        <p class="lead">Sorry, you do not have permission to access this page.</p>
        <hr class="my-4">
        <p>Please contact the administrator if you believe this is an error.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('main.index') }}" role="button">Go to Homepage</a>
    </div>
</div>
{% endblock %}
